.login-page {
  min-height: 100vh;
  background-color: #141c24;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-content {
    max-width: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 100%;
    }

    .bottom-button {
      margin-top: 15px;
    }

    .login-remember-and-button {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      color: gray;
      align-items: center;
      width: 100%;
      justify-content: space-between;

      button {
        flex: 1;
        max-width: 200px;
      }

      .checkbox-and-text {
        display: flex;
        flex-direction: row;
        padding-right: 30px;

        span {
          margin-top: 25px;
          font-size: 14px;
          margin-left: 5px;
          font-family: "Roboto", sans-serif;
        }
      }
    }

    .login-options {
      color: gray;
      display: flex;
      flex-direction: column;
      align-items: center;

      .login-options-title {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        .span-line {
          width: 100px;
          height: 1px;
          background-color: gray;
          margin: 10px;
        }
      }
    }
  }
}
