.header {
  position: fixed;
  top: 0;
  background-color: #141c24;
  width: 100vw;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  color: white;
  transition: opacity 0.1s linear;

  &:not(.active) {
    opacity: 0;
  }

  .header-title {
    padding-left: 20px;
    color: #57d6ff;
    margin-right: 200px;
    font-size: 28px;

    i {
      margin-right: 10px;
    }
  }

  .options-container {
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: 1;

    .option {
      color: white;
      font-size: 20px;
    }
    .option.active {
      font-weight: bold;
      border-bottom: 2px solid #00c5ff;
    }
  }
}
