.checkbox-container {
  margin-top: 20px;
  min-width: 30px;
  height: 30px;
  width: 30px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .checkbox-input {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    cursor: pointer;
    margin: 0;
    z-index: 5;
    opacity: 0;
  }

  .checkbox-input:checked ~ i {
    opacity: 1;
  }

  i {
    opacity: 0;
    font-size: 20px;
    color: black;
  }
}
